*.*
!*.jpeg
!*.png
ImageManipulation/data/**
!ImageManipulation/data/face.png
!.gitignore
!*.py
!*.txt
!*.tex
!*.pdf
!*.R
!*.ipynb
.DS_Store
!*.md

## Ignore folders like this: !lib/**
!Udacity/data/**
DataSets/**
KaggleCompetition/Resources/TrainingDataSets/**
KaggleCompetition/Resources/TensorFlowFiles/**
